<div class="wrapper">
    <div class="column">
        <div class="column__header">Согласование ({{ agreementList.length }})</div>
        <div
            cdkDropList
            #agreement="cdkDropList"
            [cdkDropListData]="agreementList"
            [cdkDropListConnectedTo]="[wait]"
            [id]="0"
            (cdkDropListDropped)="drop($event)"
            class="column__item-container">

            <div *ngFor="let ticket of agreementList" class="column__item item" cdkDrag (click)="openTicket(ticket)">
                <div class="item__name">
                    {{ ticket.name }}
                </div>
                <div class="item__header">
                    {{ ticket.number }}
                </div>
                <div class="item__status">
                    {{ ticket.status }}
                </div>
                <div class="item__message">
                    {{ ticket.message }}
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="column__header">В ожидании ({{ waitList.length }})</div>
        <div
            cdkDropList
            #wait="cdkDropList"
            [cdkDropListData]="waitList"
            [cdkDropListConnectedTo]="[dev]"
            [id]="1"
            (cdkDropListDropped)="drop($event)"
            class="column__item-container">

            <div *ngFor="let ticket of waitList" class="column__item item" cdkDrag (click)="openTicket(ticket)">
                <div class="item__name">
                    {{ ticket.name }}
                </div>
                <div class="item__header">
                    {{ ticket.number }}
                </div>
                <div class="item__status">
                    {{ ticket.status }}
                </div>
                <div class="item__message">
                    {{ ticket.message }}
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="column__header">Разработка ({{ devList.length }})</div>
        <div
            cdkDropList
            #dev="cdkDropList"
            [cdkDropListData]="devList"
            [cdkDropListConnectedTo]="[test]"
            [id]="2"
            (cdkDropListDropped)="drop($event)"
            class="column__item-container">

            <div *ngFor="let ticket of devList" class="column__item item" cdkDrag (click)="openTicket(ticket)">
                <div class="item__name">
                    {{ ticket.name }}
                </div>
                <div class="item__header">
                    {{ ticket.number }}
                </div>
                <div class="item__status">
                    {{ ticket.status }}
                </div>
                <div class="item__message">
                    {{ ticket.message }}
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="column__header">Тестирование ({{ testList.length }})</div>
        <div
            cdkDropList
            #test="cdkDropList"
            [cdkDropListData]="testList"
            [cdkDropListConnectedTo]="[correct]"
            [id]="3"
            (cdkDropListDropped)="drop($event)"
            class="column__item-container">

            <div *ngFor="let ticket of testList" class="column__item item" cdkDrag (click)="openTicket(ticket)">
                <div class="item__name">
                    {{ ticket.name }}
                </div>
                <div class="item__header">
                    {{ ticket.number }}
                </div>
                <div class="item__status">
                    {{ ticket.status }}
                </div>
                <div class="item__message">
                    {{ ticket.message }}
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="column__header">Корректировка ({{ correctList.length }})</div>
        <div
            cdkDropList
            #correct="cdkDropList"
            [cdkDropListData]="correctList"
            [cdkDropListConnectedTo]="[done]"
            [id]="4"
            (cdkDropListDropped)="drop($event)"
            class="column__item-container">

            <div *ngFor="let ticket of correctList" class="column__item item" cdkDrag (click)="openTicket(ticket)">
                <div class="item__name">
                    {{ ticket.name }}
                </div>
                <div class="item__header">
                    {{ ticket.number }}
                </div>
                <div class="item__status">
                    {{ ticket.status }}
                </div>
                <div class="item__message">
                    {{ ticket.message }}
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="column__header">Готова ({{ doneList.length }})</div>
        <div
            cdkDropList
            #done="cdkDropList"
            [cdkDropListData]="doneList"
            [id]="5"
            (cdkDropListDropped)="drop($event)"
            class="column__item-container">

            <div *ngFor="let ticket of doneList" class="column__item item" cdkDrag (click)="openTicket(ticket)">
                <div class="item__name">
                    {{ ticket.name }}
                </div>
                <div class="item__header">
                    {{ ticket.number }}
                </div>
                <div class="item__status">
                    {{ ticket.status }}
                </div>
                <div class="item__message">
                    {{ ticket.message }}
                </div>
            </div>
        </div>
    </div>
</div>
